doc/demo-*g
*.exr

tmp_*
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.ipynb_checkpoints
*.py.bak
*.ignore.*

doc/demo-depth\.png

doc/demo-inst\.png

doc/demo-rgb\.jpg

doc/demo-vis\(inst\|rgb\|depth\)\.jpg
